#maeve-bg {
  background: url(../../../assets/images/blue-notes-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#maeve-header {
  background: url(../../../assets/images/maeve.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#maeve {
  background: url(../../../assets/images/maeve.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#maeve-2 {
  background: url(../../../assets/images/maeve-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
