<nav>
  <mat-sidenav-container class="sidenav-container relative">
    <mat-sidenav
      #drawer
      class="sidenav text-white left-0 border-r border-white/20"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar class="border-b border-white/20">
        <div class="flex items-center space-x-4">
          <!-- <img src="" alt="" width="{{ 40 }}" /> -->
          <a routerLink="/" class="logo text-blue-500">Blue Notes</a>
        </div>
      </mat-toolbar>
      <mat-nav-list class="flex flex-col p-4">
        <div class="space-y-4 uppercase p-4">
          <div *ngFor="let link of links; index as i">
            <a
              routerLink="{{ link.path }}"
              class="text-sm font-bold"
              [routerLinkActive]="'active'"
            >
              {{ link.title }}
            </a>
          </div>

          <!-- <button
            (click)="drawer.toggle()"
            type="button"
            mat-button-raised
            color="primary"
          >
            Close
          </button> -->
        </div>
        <div class="p-2 space-y-4 flex flex-col">
          <a routerLink="new-note" class="">
            <div
              class="hover:bg-blue-500 duration-300 p-1 px-2 border border-white/20 rounded-2xl shadow-xl w-full flex items-center space-x-4"
            >
              <div
                class="w-10 h-10 rounded-full border relative mr-4 grid place-items-center"
              >
                +
              </div>
              Note
            </div>
          </a>
          <a routerLink="maeve" class="">
            <div
              class="hover:bg-blue-500 duration-300 p-1 px-2 border border-white/20 rounded-2xl shadow-xl w-full flex items-center space-x-4"
            >
              <div
                id="maeve-avatar"
                class="w-10 h-10 rounded-full border relative mr-4"
              ></div>
              Maeve AI
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="">
      <mat-toolbar
        class="bg-black border-white/20 border-b text-white fixed top-0 w-full flex items-center justify-between"
      >
        <div class="flex items-center justify-between space-x-2 w-full">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            *ngIf="isHandset$ | async"
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <p class="lg:hidden flex">Blue Notes</p>
          <div class="lg:flex hidden space-x-2 justify-between">
            <!-- <button
              class="text-sm border p-1 border-white/20 px-2 rounded-md hover:bg-purple-500 duration-300"
              *ngFor="let tag of tags; index as i"
            >
              #{{ tag.name }}
            </button> -->
            <input
              type="text"
              placeholder="search..."
              class="p-1 px-4 bg-black/0 text-white border border-white/20 rounded-full"
            />
            <button class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </button>
            <!-- <button
              class="scale-75"
              mat-fab
              color="warn"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>home</mat-icon>
            </button> -->
          </div>
        </div>
      </mat-toolbar>

      <!-- Add Content Here -->

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>
