<section id="home-bg" class="h-screen">
  <div
    class="grid h-screen bg-gradient-to-br from-black via-black/70 to-black/60 p-4"
  >
    <div class="w-full mx-auto mt-20">
      <div
        class="text-center text-white p-4 border border-white/20 backdrop-blur-lg shadow-2xl"
      >
        <h1 class="logo lg:text-9xl text-5xl">Blue Notes</h1>
        <div class="flex items-center uppercase justify-between">
          <p class="text-purple-500 font-bold">Coming Soon!</p>
          <p>nostr web client for music</p>
        </div>
      </div>
    </div>
  </div>
</section>
