/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Righteous", sans-serif;
}

h1 {
  font-family: "Bruno Ace SC", sans-serif;
}

h2,
h3,
p {
  font-family: "Urbanist", sans-serif;
}

html,
body {
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
}

.active {
  color: #a865c9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a865c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
